/**************************/
/* HTMl GENERAL STYLES */
/**************************/
:root{
  --clr-primary-400:  #319795;
  --clr-dark--1: #2d3439;
  --clr-dark--2: #42484d;
  --clr-light--1: #aaa;
  --clr-light--2: #ececec;
  --clr-light--3: rgb(214, 222, 224);

  --clr-grey-bg: #242424;

  --ff-primary: 'Comfortaa', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
}

/**************************/
/* CSS RESET */
/**************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

*:focus{
  outline: none;
}

*::placeholder{
  color: #777;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding-left: 0rem;
} 

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, 
body {
  height: 100%; 
  font-size: 62.5%;
  /* overflow-x: hidden;  */
}

/* Set core body defaults */
body {
  min-height: 100vh; 
  color: var( --clr-light--2);
  font-family: var(--ff-body);
  font-size: 1.6rem;
  font-weight:var(--fw-400);
  line-height: 1.6;
  text-rendering: optimizeSpeed;

  overscroll-behavior-y: none;
  /* padding: 2.5rem 2.5rem 0 2.5rem; */
  padding:2.5rem;
  display: flex;
  flex-direction: column;

  background: #1F1C2C;  
  background: -webkit-linear-gradient(to bottom, #928DAB, #1F1C2C);  
  background: linear-gradient(to right, #928DAB, #1F1C2C); 
    

  background: #134E5E; 
  background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  
  background: linear-gradient(to right, #38B2AC, #134E5E);  
}

@media screen and (min-width: 60em) {
  body {
      flex-direction: row;
  } 
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
html:focus-within {
  scroll-behavior: auto;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
  }
}

/**************************/
/* GENERAL */
/**************************/

.container {
  width: min(90%, 50.5rem);
  margin: 0 auto; /* centers the section/  div in the middle of the browser */
}

/**************************/
/* SIDEBAR */
/**************************/
.sidebar {
  flex-basis: 55rem;
  /* background-color: var(--clr-dark--1); */
  background-color: #272a2c; /* 50% shade */
  background-color:#1f2223; /* 60% shade  */
  padding: 3rem 3rem 4rem 3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 40em) {
  .sidebar{
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
  }
}

.logo_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.logo_img{
  display: inline-block;
  height: 5.2rem;
}

.logo__title{
  vertical-align: middle;
  color: #fff;
  font-size:  2.4rem;
  font-weight: var(--fw-700);
}

.cta{
  display: grid;
  place-items: center;
  width: 19.5rem;
  padding: 1.2rem 2.4rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow:inset 0 0 0 0.2rem #319795;
  background-color: transparent;
  position: absolute;
  right: 0; 
  transform: translateX(0%);
  transition: all 0.3s ease-in;
  background-color: #319795;
}

.sidebar:hover .cta{
  right: 2.9rem;
}

/* .sidebar:hover .cta:hover{
  right: 0;
  transform: translateX(0);
  background-color: #319795;
}  */

.cta, .cta-btn select{
  cursor: pointer;
}

.cta select{
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: var(--fw-700);
  color: #fff;
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.cta select:first-child{
  letter-spacing: 0.5rem;
}

.cta select:focus{
  outline: none;  
}

.cta-text{
  display: flex;
  justify-content: space-between;
}

/**************************/
/* FORM */
/**************************/
.form {
  /* background-color: var(--clr-dark--2);  */
  background-color: #3e4346;
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 18.25rem;
  transition: all 0.5s, transform 1ms; 
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--desc{
  grid-column: 1 / -1;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__label--desc{
  flex: 0 0 23.5%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  border: none;
  border-radius: 3px;
  /* background-color: #282b2e; */
  background-color:#1f2223;
  transition: all 0.2s;
  color: #eee;
}

.form__input--desc{
 padding-block:  1rem ;
}

.form__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 0.1rem  #319795;
}

.form__btn {
  display: none;
}

/**************************/
/* CARDS */
/**************************/
.trips {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.trips::-webkit-scrollbar {
  width: 0;
}

/**************************/
/* CARD COMPONENT */
/**************************/
.card{
  /* background: #2c3438;  */
  background: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 3.6rem;
  margin: 0;
  border: transparent;
  cursor: pointer;
}

@media screen and (min-width: 60em) {
  .card{
      flex-direction: row;
      text-align: left;
      }
} 

li:nth-child(2) {
  margin-top: 0.6em;
}

.card__figure{
  margin: 0;
  z-index: 1;
} 

.card__image{
  height: 100%;
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
  border-left: 0px solid #38B2AC;
  z-index:  2;
}

@media screen and (min-width: 60em) {
  .card__figure{
      position: relative;
      padding-bottom: 90%;
      aspect-ratio: 6/9;
      width: 18rem; 
      height: 10.125rem;  
      /* margin-bottom: 1rem; */
      margin-left: 2rem;
  } 
  .card__image{
      object-fit: cover;  
      position: absolute;
      /* overflow: visible; */
      left: 0;
      top: 0; 
      transform: translateX(-10%);
      transform: scale(1.1);
      width: 100%;
      height: 100%;
      border-radius: 0.8rem; 
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
      /* border-left: 5px solid #38B2AC; */
  }
}

.card-textbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4e5458; 
  background-color: #373b3e; 
  padding: 10px 30px 20px 30px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .card-textbox{ 
      border-radius: 0 0.8rem 0.8rem 0;
      /* padding-top: 5px; */
      padding: 5px 15px 5px 30px;
      min-width: 290px;
      /* max-height: 180px; */
  }
}

.card-textbox__location-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: -20px;
  margin-top: -0.5rem;
}

@media screen and (min-width: 40em) {
  .card-textbox__location-box{
      flex-direction: row;;
      justify-content: space-between;
      border-radius: 0 5px 5px 0;
  }
}

.card__map-marker{
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 40em) {
  .card__map-marker{
    font-size: 1.5rem;
    margin-right: -0.5rem;
    margin-left: 0.5rem;
  }
}

.card-textbox__country{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.2rem;
}

@media screen and (min-width: 40em) {
  .card-textbox__country{
      font-size: 1rem;
  }
}

.card__country{
  color: #fffffff1;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right:  0.5em;
  letter-spacing: 0.17em;
  line-height: 1.4;
  margin: 0;
}

.card__flag{
  font-size: 2rem;
  margin-top: 1rem;
}

@media screen and (min-width: 40em) {
  .card__flag{
      font-size: 1.5rem;
  }
}

.card__weather-icon-div{
  margin-top: 0.35em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__weather-icon{
  height:2.5rem;
  margin-bottom: 0.35em;
  margin-left: 1rem;
  margin-right: 1.3rem;
}

@media screen and (min-width: 40em) {
  .card__weather-icon-div{
      margin-top: 0.19em;
  }    
  .card__weather-icon{
      height: 2.4rem;
      margin-bottom: 0.35em;
      margin-right: 1rem;
  }
}

.card__drop-down--icon{
  color: #ffffffaa;
  cursor: pointer;
  vertical-align: middle;
}

.card__drop-down--icon:hover{
  color: #fff;
} 

@media screen and (min-width: 40em) {
  .card__drop-down--icon{
      margin-top: 0;
  }
}

.card__dropdown-menu--styling {
  background: #3e4346;
  background-color: #1f2223;
}

.card__dropdown-item--styling{
  display: flex;
  align-content: center;
  color: #fff;
}

.card__dropdown-item--styling:hover{
  background-color: #383838;
  color: #fff;
}

.card__dropdown-item--styling > ion-icon{
  margin-top: 0.15em;
  padding-right: 20px;
}

.card__title{
  font-weight: 500;
  font-size: 2.5rem;
  padding-top: 10px;
  padding-bottom: 1rem; 
  color: #edeeee;
  margin-top: 0;
}

@media screen and (min-width: 40em) {
  .card__title{
      padding-top: 0px;
      /* padding-bottom: 35px; */
      margin-top: -.9rem;
      font-size: 2rem;
  }
}

.card__date-rating-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 10px;
}

@media screen and (min-width: 40em) {
  .card__date-rating-box{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding-top: 0;
      padding-bottom: 0.6rem;
  }
}

.card__date{
  color: #dcddde;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 0rem;
}

@media screen and (min-width: 40em) {
  .card__date{
      font-size: 1.1rem;
  }
}

.card__rating{
  font-size: 1.4rem;
  padding-top: 10px;
  filter: invert(47%) sepia(94%) saturate(288%) hue-rotate(130deg) brightness(90%) contrast(91%);
  /* color: transparent;   */
  /* text-shadow: 0 0 0 #4FD1C5; */
  /* text-shadow: 0 0 0 #ffa41c; #F6AD55*/
}

@media screen and (min-width: 40em) {
  .card__rating{
      font-size: 1.1rem;
      padding-top: 0;
      margin-bottom: 0rem;
  }
}

.card__description{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5; 
  margin-bottom: 0.5rem;
  /* color: #b8bbbc; */
  color: #a7aaac;
}

@media screen and (min-width: 40em) {
  .card__description{
      font-size: 1.4rem;
  }
}

/**************************/
/* MAP */
/**************************/
#map{
  flex: 1;
  height: 100%;
  background-color: #444;
  border-bottom-left-radius: 1.2rem;
  position: relative;
}

@media screen and (min-width: 40em) {
#map{
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  border-bottom-left-radius: 0rem;
}
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
background-color: var(--clr-dark--1);
color: var(--clr-light--2);
border-radius: 5px;
padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
font-size: 1.5rem;
}

.trip-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #319795;
}

.search-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #D68C45;
}

.search-popupTint .leaflet-popup-content-wrapper {
  border-left: 5px solid #e2af7d;
}

/* Leaflet tooltip tip style */
.leaflet-popup .leaflet-popup-tip {
  background-color: var(--clr-dark--1);
  }
  
  .leaflet-tooltip {
    font-size: 1.4rem;
    background-color: #2c3438;
    border-color: #464c4f;
    color: #fff;
    border-right:  5px solid #D68C45;
  }
  
  .leaflet-tooltip-top:before, 
  .leaflet-tooltip-bottom:before, 
  .leaflet-tooltip-left:before, 
  .leaflet-tooltip-right:before {
    border-right-color: #464c4f !important;
    /* border-left-color: #464c4f !important; */
  }

/* leaflet search bar */
.leaflet-touch .leaflet-bar {
  background-clip: border-box;
  box-shadow: none;
  font-size: 1.2rem;
  font-family: inherit;
  color: #444;
  border: none;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.geocoder-control-input{
  filter: invert(100%);
}

.geocoder-control-list{
  background-color: transparent; 
  backdrop-filter: blur(1rem); 
}

.geocoder-control-list .geocoder-control-suggestion{
  color: #ddd;
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(3rem);
  z-index: 1;
  transition: all 0.3s;
}

.geocoder-control-list .geocoder-control-suggestion:hover{
  
  color: #fff;
  background-color: #319795;
  border: transparent;

}

select#optionsSelect{
  display: grid;
  place-items: center;
  width: 3.33rem;
  height: 1rem;
  margin-top: 2rem;
  backdrop-filter: blur(1rem);
  z-index: 0;
}

#optionsSelect{
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: var(--fw-500);
  color: #fff;
  border: none;
  /* background-color: transparent; */
  border-radius: 0.3rem;

  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5em;

  filter: invert(95%);
}

.leaflet-control-fullscreen-button.leaflet-bar-part{
  filter: invert(100%);
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
  filter: invert(100%);
}

/* Base layer control */
.leaflet-control-layers.leaflet-control{
  border: 2px solid hsl(0deg 0% 0% / 20%);
  background-clip: padding-box;
  /* transform: translateX(-50%); */
  /* left: -80%; */
  font-size: 1.6rem;

  transform: translateX(18%) scale(0.7, 0.7);
}

a.leaflet-control-layers-toggle {
  background-color: #000;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(252deg) brightness(92%) contrast(87%);
  height:100px;

  /* position: absolute; */
}

.leaflet-touch .leaflet-control-layers{
  color: #fff;
  background-color: #1f1f1f;
}

.leaflet-control-layers label {
  background-color: #1f1f1f;
}

.leaflet-control-layers-selector:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.leaflet-control-layers-selector:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #319795;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* Pulse marker */
.leaflet-pulsing-icon {
  border-radius: 100%;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
}

.leaflet-pulsing-icon:after {
  content: "";
  border-radius: 100%;
  height: 300%;
  width: 300%;
  position: absolute;
  margin: -100% 0 0 -100%;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

/* Leaflet icon classes */
img.hueChangeTeal { filter: brightness(0) saturate(100%) invert(49%) sepia(10%) saturate(2348%) hue-rotate(130deg) brightness(101%) contrast(88%)} 

/* changes Leaflet default marker icon color change */
img.hueChangeOrange { filter: brightness(0) saturate(100%) invert(87%) sepia(20%) saturate(6034%) hue-rotate(325deg) brightness(88%) contrast(88%);} 

img.hueChangeOrangeTint { filter: brightness(0) saturate(100%) invert(77%) sepia(16%) saturate(976%) hue-rotate(346deg) brightness(94%) contrast(88%);} 

.tealCircleIcon{
  border-radius: 100%;
  background: #38b2ac;
  /* box-shadow: inset 0px 0px 10px 2px #38b2ac, 0px 0px 10px 2px  rgb(49, 151, 149); */
}

/* search result pulse class class */
.gps_ring {
  border: 3px solid #D68C45;
  -webkit-border-radius: 40px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulsate 1s ease-out; 
  -webkit-animation-iteration-count: infinite;
  margin-top: -19px;
  margin-left: -14px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.leaflet-control-attribution.leaflet-control.esri-truncated-attribution{
  display: none;
}

/**************************/
/* COPYRIGHT  */
/**************************/
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: #969a9c; 
  padding: 1.6rem 1.6rem;
  border-radius: 0.5rem;
  background-color: #363839;
}

.portfolio-link:link,
.portfolio-link:visited {
  color: var(--clr-light--1);
  transition: all 0.2s;
}

.portfolio-link:hover,
.portfolio-link:active {
  color: var(--clr-light--2);
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/



  